openapi: 3.0.0
info:
  title: SportMonks
  description: Surpass the competition with superior sports data
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.sportmonks.com
tags:
  - name: Sport
  - name: Odds
  - name: Countries
  - name: Regions
  - name: Cities
  - name: My
  - name: Continents
  - name: Types
  - name: Core
  - name: Football
paths:
  /{version}/core/continents:
    get:
      tags:
        - Continents
      summary: All
      operationId: Continents_all
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinentsAllResponse'
  /{version}/core/continents/{continentId}:
    get:
      tags:
        - Continents
      summary: By ID
      operationId: Continents_getById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The ID of the continent you want to retrieve
          name: continentId
          in: path
          schema:
            type: integer
          required: true
          example: 1
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinentsGetByIdResponse'
  /{version}/core/countries:
    get:
      tags:
        - Countries
      summary: All
      operationId: Countries_all
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesAllResponse'
  /{version}/core/countries/{countryId}:
    get:
      tags:
        - Countries
      summary: By ID
      operationId: Countries_getById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The ID of the country you want to retrieve.
          name: countryId
          in: path
          schema:
            type: integer
          required: true
          example: 1161
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesGetByIdResponse'
  /{version}/core/countries/search/{name}:
    get:
      tags:
        - Countries
      summary: Search
      operationId: Countries_search
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The name you want to search on
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Fra
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesSearchResponse'
  /{version}/core/regions:
    get:
      tags:
        - Regions
      summary: All
      operationId: Regions_all
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsAllResponse'
  /{version}/core/regions/{regionId}:
    get:
      tags:
        - Regions
      summary: By ID
      operationId: Regions_getById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The ID of the region you want to retrieve.
          name: regionId
          in: path
          schema:
            type: integer
          required: true
          example: 367
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsGetByIdResponse'
  /{version}/core/regions/search/{name}:
    get:
      tags:
        - Regions
      summary: Search
      operationId: Regions_search
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The name you want to search on
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Br
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsSearchResponse'
  /{version}/core/cities:
    get:
      tags:
        - Cities
      summary: All
      operationId: Cities_all
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitiesAllResponse'
  /{version}/core/cities/{cityId}:
    get:
      tags:
        - Cities
      summary: By ID
      operationId: Cities_getById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The ID of the city you want to retrieve
          name: cityId
          in: path
          schema:
            type: integer
          required: true
          example: 29834
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitiesGetByIdResponse'
  /{version}/core/cities/search/{name}:
    get:
      tags:
        - Cities
      summary: Search
      operationId: Cities_search
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The name you want to search on
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Lon
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitiesSearchResponse'
  /{version}/core/types:
    get:
      tags:
        - Types
      summary: All
      operationId: Types_all
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesAllResponse'
  /{version}/core/types/{typeId}:
    get:
      tags:
        - Types
      summary: By ID
      operationId: Types_getById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The ID of the type you want to retrieve
          name: typeId
          in: path
          schema:
            type: integer
          required: true
          example: 1
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesGetByIdResponse'
  /{version}/{sport}/leagues:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_leaguesAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeaguesAllResponse'
  /{version}/{sport}/leagues/live:
    get:
      tags:
        - Sport
      summary: Live
      operationId: Sport_leaguesLive
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeaguesLiveResponse'
  /{version}/{sport}/leagues/{leagueId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_leagueById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the league you want to retrieve.
          name: leagueId
          in: path
          schema:
            type: integer
          required: true
          example: 271
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeagueByIdResponse'
  /{version}/{sport}/leagues/{leagueId}/jerseys:
    get:
      tags:
        - Sport
      summary: Shirts By League ID
      operationId: Sport_leagueShirts
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the league you want to retrieve.
          name: leagueId
          in: path
          schema:
            type: integer
          required: true
          example: 271
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeagueShirtsResponse'
  /{version}/{sport}/leagues/{leagueId}/includes:
    get:
      tags:
        - Sport
      summary: Enrichments
      operationId: Sport_leagueEnrichments
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the league you want to retrieve enrichments from.
          name: leagueId
          in: path
          schema:
            type: integer
          required: true
          example: 271
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeagueEnrichmentsResponse'
  /{version}/{sport}/leagues/date/{date}:
    get:
      tags:
        - Sport
      summary: By Date
      operationId: Sport_leaguesByDate
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The date of fixtures you want to retrieve leagues from.
          name: date
          in: path
          schema:
            type: string
          required: true
          example: '2022-07-15'
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeaguesByDateResponse'
  /{version}/{sport}/leagues/countries/{countryId}:
    get:
      tags:
        - Sport
      summary: By Country ID
      operationId: Sport_leaguesByCountryId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the country you want to retrieve leagues from.
          name: countryId
          in: path
          schema:
            type: integer
          required: true
          example: 320
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeaguesByCountryIdResponse'
  /{version}/{sport}/leagues/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_leaguesSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Super
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeaguesSearchResponse'
  /{version}/{sport}/fixtures:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_fixturesAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixturesAllResponse'
  /{version}/{sport}/fixtures/latest:
    get:
      tags:
        - Sport
      summary: Last Updated
      operationId: Sport_fixturesLatest
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SportFixturesLatestResponse'
              example: '    {"data":[{"id":18535602,"sport_id":1,"league_id":501,"season_id":19735,"stage_id":77457866,"group_id":null,"aggregate_id":null,"round_id":274733,"state_id":1,"venue_id":336296,"name":"Hearts vs Hibernian","home_score":null,"away_score":null,"starting_at":"2023-01-02 15:00:00","result_info":null,"leg":"1\/1","details":null,"length":90,"placeholder":false,"last_processed_at":"2023-01-02 13:10:10","starting_at_timestamp":1672671600},{"id":18535606,"sport_id":1,"league_id":501,"season_id":19735,"stage_id":77457866,"group_id":null,"aggregate_id":null,"round_id":274733,"state_id":1,"venue_id":219,"name":"St. Johnstone vs Dundee United","home_score":null,"away_score":null,"starting_at":"2023-01-02 15:00:00","result_info":null,"leg":"1\/1","details":null,"length":90,"placeholder":false,"last_processed_at":"2023-01-02 13:10:10","starting_at_timestamp":1672671600},{"id":18535603,"sport_id":1,"league_id":501,"season_id":19735,"stage_id":77457866,"group_id":null,"aggregate_id":null,"round_id":274733,"state_id":1,"venue_id":8906,"name":"Kilmarnock vs St. Mirren","home_score":null,"away_score":null,"starting_at":"2023-01-02 15:00:00","result_info":null,"leg":"1\/1","details":null,"length":90,"placeholder":false,"last_processed_at":"2023-01-02 13:10:10","starting_at_timestamp":1672671600},{"id":18535604,"sport_id":1,"league_id":501,"season_id":19735,"stage_id":77457866,"group_id":null,"aggregate_id":null,"round_id":274733,"state_id":1,"venue_id":8943,"name":"Livingston vs Motherwell","home_score":null,"away_score":null,"starting_at":"2023-01-02 15:00:00","result_info":null,"leg":"1\/1","details":null,"length":90,"placeholder":false,"last_processed_at":"2023-01-02 13:10:10","starting_at_timestamp":1672671600},{"id":18535601,"sport_id":1,"league_id":501,"season_id":19735,"stage_id":77457866,"group_id":null,"aggregate_id":null,"round_id":274733,"state_id":1,"venue_id":8928,"name":"Aberdeen vs Ross County","home_score":null,"away_score":null,"starting_at":"2023-01-02 15:00:00","result_info":null,"leg":"1\/1","details":null,"length":90,"placeholder":false,"last_processed_at":"2023-01-02 13:10:09","starting_at_timestamp":1672671600}],"subscription":[{"meta":[],"plans":[{"plan":"Football Free Plan","sport":"Football","category":"Standard"},{"plan":"Cricket Free Plan","sport":"Cricket","category":"Standard"}],"add_ons":[],"widgets":[]}],"rate_limit":{"resets_in_seconds":2400,"remaining":143,"requested_entity":"Fixture"},"timezone":"UTC"}'
  /{version}/{sport}/fixtures/{fixtureId}:
    get:
      tags:
        - Sport
      summary: Fixture ID
      operationId: Sport_fixtureById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the fixture you want to retrieve.
          name: fixtureId
          in: path
          schema:
            type: integer
          required: true
          example: 18528480
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixtureByIdResponse'
  /{version}/{sport}/fixtures/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_fixturesSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: havn
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixturesSearchResponse'
  /{version}/{sport}/fixtures/date/{date}:
    get:
      tags:
        - Sport
      summary: By Date
      operationId: Sport_fixturesByDate
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The date you want to retrieve fixtures from.
          name: date
          in: path
          schema:
            type: string
          required: true
          example: '2022-07-24'
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixturesByDateResponse'
  /{version}/{sport}/fixtures/multi/{fixtureIds}:
    get:
      tags:
        - Sport
      summary: By IDs
      operationId: Sport_fixturesByIds
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The IDs you want to retrieve.
          name: fixtureIds
          in: path
          schema:
            type: string
          required: true
          example: 18528484%2C18531140
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixturesByIdsResponse'
  /{version}/{sport}/fixtures/between/{startDate}/{endDate}:
    get:
      tags:
        - Sport
      summary: By Date Range
      operationId: Sport_fixturesByDateRange
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The start date you want to retrieve fixtures from.
          name: startDate
          in: path
          schema:
            type: string
          required: true
          example: '2022-07-17'
        - description: The end date you want to retrieve fixtures from.
          name: endDate
          in: path
          schema:
            type: string
          required: true
          example: '2022-07-25'
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixturesByDateRangeResponse'
  /{version}/{sport}/fixtures/between/{startDate}/{endDate}/{teamId}:
    get:
      tags:
        - Sport
      summary: By Date Range for Team
      operationId: Sport_fixtureByDateRangeForTeam
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - name: startDate
          in: path
          schema:
            type: string
          required: true
          example: maiores
        - name: endDate
          in: path
          schema:
            type: string
          required: true
          example: voluptates
        - name: teamId
          in: path
          schema:
            type: string
          required: true
          example: ut
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixtureByDateRangeForTeamResponse'
  /{version}/{sport}/fixtures/head-to-head/{firstTeam}/{secondTeam}:
    get:
      tags:
        - Sport
      summary: Head to Head
      operationId: Sport_fixturesHeadToHead
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the first team retrieve fixtures from.
          name: firstTeam
          in: path
          schema:
            type: integer
          required: true
          example: 2650
        - description: The ID of the second team retrieve fixtures from.
          name: secondTeam
          in: path
          schema:
            type: integer
          required: true
          example: 86
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportFixturesHeadToHeadResponse'
  /{version}/{sport}/livescores/latest:
    get:
      tags:
        - Sport
      summary: Last Updated In-play
      operationId: Sport_livescoresLatest
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLivescoresLatestResponse'
  /{version}/{sport}/livescores:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_livescoresAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLivescoresAllResponse'
  /{version}/{sport}/livescores/inplay:
    get:
      tags:
        - Sport
      summary: All In-play
      operationId: Sport_livescoresAllInPlay
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLivescoresAllInPlayResponse'
  /{version}/{sport}/teams:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_teamsAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTeamsAllResponse'
  /{version}/{sport}/teams/countries/{countryId}:
    get:
      tags:
        - Sport
      summary: By Country ID
      operationId: Sport_teamsByCountryId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the country you want to retrieve teams from.
          name: countryId
          in: path
          schema:
            type: integer
          required: true
          example: 320
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTeamsByCountryIdResponse'
  /{version}/{sport}/teams/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By Season ID
      operationId: Sport_teamsBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve teams from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTeamsBySeasonIdResponse'
  /{version}/{sport}/teams/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_teamsSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Hors
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTeamsSearchResponse'
  /{version}/{sport}/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_teamsById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 180
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTeamsByIdResponse'
  /{version}/{sport}/teams/{teamId}/leagues:
    get:
      tags:
        - Sport
      summary: Leagues By Team ID
      operationId: Sport_leaguesByTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve leagues from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 180
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeaguesByTeamIdResponse'
  /{version}/{sport}/teams/{teamId}/leagues/current:
    get:
      tags:
        - Sport
      summary: Current Leagues By Team ID
      operationId: Sport_leaguesCurrentByTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve current leagues from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 180
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportLeaguesCurrentByTeamIdResponse'
  /{version}/{sport}/standings:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_standingsAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStandingsAllResponse'
  /{version}/{sport}/standings/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By Season ID
      operationId: Sport_standingsBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve standing from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStandingsBySeasonIdResponse'
  /{version}/{sport}/standings/rounds/{roundId}:
    get:
      tags:
        - Sport
      summary: By Round ID
      operationId: Sport_standingsByRoundId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the round you want to retrieve standing from.
          name: roundId
          in: path
          schema:
            type: integer
          required: true
          example: 23318
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStandingsByRoundIdResponse'
  /{version}/{sport}/standings/corrections/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: Correction by Season ID
      operationId: Sport_standingCorrectionsBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve standing corrections from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SportStandingCorrectionsBySeasonIdResponse
  /{version}/{sport}/standings/live/leagues/{leagueId}:
    get:
      tags:
        - Sport
      summary: By League ID
      operationId: Sport_standingsLiveByLeagueId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the league you want to retrieve standings from.
          name: leagueId
          in: path
          schema:
            type: integer
          required: true
          example: 271
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 14:50:35 GMT
            Server:
              schema:
                type: string
                example: Apache
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 52000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 51999
            Vary:
              schema:
                type: string
                example: Authorization,Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            X-Robots-Tag:
              schema:
                type: string
                example: noindex, nofollow
            Content-Length:
              schema:
                type: integer
                example: 899
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStandingsLiveByLeagueIdResponse'
  /{version}/{sport}/schedules/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By Season ID
      operationId: Sport_schedulesBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSchedulesBySeasonIdResponse'
  /{version}/{sport}/schedules/seasons/{seasonId}/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By Team and Season ID
      operationId: Sport_schedulesByTeamAndSeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve schedule from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
        - description: The ID of the team you want to retrieve schedule from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 282
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSchedulesByTeamAndSeasonIdResponse'
  /{version}/{sport}/schedules/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By Team ID
      operationId: Sport_schedulesByTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve schedule from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 282
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSchedulesByTeamIdResponse'
  /{version}/{sport}/players:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_playersAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportPlayersAllResponse'
  /{version}/{sport}/players/latest:
    get:
      tags:
        - Sport
      summary: Latest Updated
      operationId: Sport_playersLatest
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportPlayersLatestResponse'
  /{version}/{sport}/players/{playerId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_playerById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the player you want to retrieve.
          name: playerId
          in: path
          schema:
            type: integer
          required: true
          example: 14
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportPlayerByIdResponse'
  /{version}/{sport}/players/countries/{countryId}:
    get:
      tags:
        - Sport
      summary: By Country ID
      operationId: Sport_playersByCountryId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the country you want to retrieve players from.
          name: countryId
          in: path
          schema:
            type: integer
          required: true
          example: 320
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportPlayersByCountryIdResponse'
  /{version}/{sport}/players/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_playersSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Agg
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportPlayersSearchResponse'
  /{version}/{sport}/news/pre-match:
    get:
      tags:
        - Sport
      summary: All Pre-match
      operationId: Sport_newsAllPreMatch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 14:53:44 GMT
            Server:
              schema:
                type: string
                example: Apache
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 52000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 51999
            Vary:
              schema:
                type: string
                example: Authorization,Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            X-Robots-Tag:
              schema:
                type: string
                example: noindex, nofollow
            Content-Length:
              schema:
                type: integer
                example: 962
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportNewsAllPreMatchResponse'
  /{version}/{sport}/news/pre-match/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: Pre-match By Season ID
      operationId: Sport_newsPreMatchBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve post-match news from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19734
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 14:55:39 GMT
            Server:
              schema:
                type: string
                example: Apache
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 52000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 51997
            Vary:
              schema:
                type: string
                example: Authorization,Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            X-Robots-Tag:
              schema:
                type: string
                example: noindex, nofollow
            Content-Length:
              schema:
                type: integer
                example: 1116
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportNewsPreMatchBySeasonIdResponse'
  /{version}/{sport}/news/pre-match/upcoming:
    get:
      tags:
        - Sport
      summary: Upcoming Pre-match
      operationId: Sport_newsUpcomingPreMatch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 14:56:32 GMT
            Server:
              schema:
                type: string
                example: Apache
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 52000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 51996
            Vary:
              schema:
                type: string
                example: Authorization,Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            X-Robots-Tag:
              schema:
                type: string
                example: noindex, nofollow
            Content-Length:
              schema:
                type: integer
                example: 1061
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportNewsUpcomingPreMatchResponse'
  /{version}/{sport}/news/post-match:
    get:
      tags:
        - Sport
      summary: All Post Match
      operationId: Sport_newsAllPostMatch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SportNewsAllPostMatchResponse'
              example: ''
  /{version}/{sport}/news/post-match/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: Post Match by Season ID
      operationId: Sport_newsPostMatchBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve post-match news from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SportNewsPostMatchBySeasonIdResponse'
              example: ''
  /{version}/{sport}/news/post-match/upcoming:
    get:
      tags:
        - Sport
      summary: Upcoming Post Match
      operationId: Sport_newsUpcomingPostMatch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SportNewsUpcomingPostMatchResponse'
              example: ''
  /{version}/{sport}/venues:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_venuesAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportVenuesAllResponse'
  /{version}/{sport}/venues/{venueId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_venueById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the venue you want to retrieve.
          name: venueId
          in: path
          schema:
            type: integer
          required: true
          example: 219
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportVenueByIdResponse'
  /{version}/{sport}/venues/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_venuesSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Park
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportVenuesSearchResponse'
  /{version}/{sport}/venues/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By Season ID
      operationId: Sport_venuesBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve venues from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportVenuesBySeasonIdResponse'
  /{version}/{sport}/seasons:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_seasonsAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSeasonsAllResponse'
  /{version}/{sport}/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_seasonById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSeasonByIdResponse'
  /{version}/{sport}/seasons/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By Team ID
      operationId: Sport_seasonsByTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve seasons from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 282
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSeasonsByTeamIdResponse'
  /{version}/{sport}/seasons/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_seasonsSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: integer
          required: true
          example: 2022
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSeasonsSearchResponse'
  /{version}/{sport}/squads/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By Team ID
      operationId: Sport_squadsByTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve squads from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 282
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSquadsByTeamIdResponse'
  /{version}/{sport}/squads/seasons/{seasonId}/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By Season and Team ID
      operationId: Sport_squadsBySeasonAndTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve squads from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
        - description: The ID of the team you want to retrieve squads from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 282
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportSquadsBySeasonAndTeamIdResponse'
  /{version}/{sport}/tv-stations:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_tvStationsAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTvStationsAllResponse'
  /{version}/{sport}/tv-stations/{tvStationId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_tvStationById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the tv station you want to retrieve.
          name: tvStationId
          in: path
          schema:
            type: integer
          required: true
          example: 33
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTvStationByIdResponse'
  /{version}/{sport}/tv-stations/fixtures/{fixtureId}:
    get:
      tags:
        - Sport
      summary: By Fixture ID
      operationId: Sport_tvStationsByFixtureId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the fixture you want to retrieve tv-stations from.
          name: fixtureId
          in: path
          schema:
            type: integer
          required: true
          example: 16808591
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTvStationsByFixtureIdResponse'
  /{version}/{sport}/coaches:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_coachesAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCoachesAllResponse'
  /{version}/{sport}/coaches/latest:
    get:
      tags:
        - Sport
      summary: Last updated
      operationId: Sport_coachesLatest
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCoachesLatestResponse'
  /{version}/{sport}/coaches/{coachId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_coachById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the coach you want to retrieve.
          name: coachId
          in: path
          schema:
            type: integer
          required: true
          example: 171906
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCoachByIdResponse'
  /{version}/{sport}/coaches/countries/{countryId}:
    get:
      tags:
        - Sport
      summary: By Country ID
      operationId: Sport_coachesByCountryId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the country you want to retrieve coaches from.
          name: countryId
          in: path
          schema:
            type: integer
          required: true
          example: 320
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCoachesByCountryIdResponse'
  /{version}/{sport}/coaches/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_coachesSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: John
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCoachesSearchResponse'
  /{version}/{sport}/topscorers/stages/{stageId}:
    get:
      tags:
        - Sport
      summary: By Stage ID
      operationId: Sport_topScorersByStageId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the stage you want to retrieve topscorers from.
          name: stageId
          in: path
          schema:
            type: integer
          required: true
          example: 1100
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTopScorersByStageIdResponse'
  /{version}/{sport}/topscorers/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By Season ID
      operationId: Sport_topScorersBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve topscorers from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTopScorersBySeasonIdResponse'
  /{version}/{sport}/rounds:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_roundsAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRoundsAllResponse'
  /{version}/{sport}/rounds/{roundId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_roundById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the round you want to retrieve.
          name: roundId
          in: path
          schema:
            type: integer
          required: true
          example: 23317
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRoundByIdResponse'
  /{version}/{sport}/rounds/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_roundsSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: integer
          required: true
          example: 2
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRoundsSearchResponse'
  /{version}/{sport}/rounds/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: Season ID
      operationId: Sport_roundsBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve rounds from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRoundsBySeasonIdResponse'
  /{version}/{sport}/stages:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_stagesAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStagesAllResponse'
  /{version}/{sport}/stages/{stageId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_stageById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the stage you want to retrieve.
          name: stageId
          in: path
          schema:
            type: integer
          required: true
          example: 1100
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStageByIdResponse'
  /{version}/{sport}/stages/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_stagesSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Championship
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStagesSearchResponse'
  /{version}/{sport}/stages/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By Season ID
      operationId: Sport_stagesBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve stages from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportStagesBySeasonIdResponse'
  /{version}/{sport}/rivals:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_rivalsAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 15:04:01 GMT
            Server:
              schema:
                type: string
                example: Apache
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 52000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 51999
            Vary:
              schema:
                type: string
                example: Authorization,Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            X-Robots-Tag:
              schema:
                type: string
                example: noindex, nofollow
            Content-Length:
              schema:
                type: integer
                example: 700
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRivalsAllResponse'
  /{version}/{sport}/rivals/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By Team ID
      operationId: Sport_rivalsByTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve rivals from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 53
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 15:04:51 GMT
            Server:
              schema:
                type: string
                example: Apache
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 52000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 51998
            Vary:
              schema:
                type: string
                example: Authorization,Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            X-Robots-Tag:
              schema:
                type: string
                example: noindex, nofollow
            Content-Length:
              schema:
                type: integer
                example: 407
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRivalsByTeamIdResponse'
  /{version}/{sport}/commentaries:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_commentariesAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCommentariesAllResponse'
  /{version}/{sport}/commentaries/fixtures/{fixtureId}:
    get:
      tags:
        - Sport
      summary: By Fixture ID
      operationId: Sport_commentariesByFixtureId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the fixture you want to retrieve commentaries from.
          name: fixtureId
          in: path
          schema:
            type: integer
          required: true
          example: 16808591
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCommentariesByFixtureIdResponse'
  /{version}/{sport}/referees:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_refereesAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRefereesAllResponse'
  /{version}/{sport}/referees/{refereeId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_refereeById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the referee you want to retrieve.
          name: refereeId
          in: path
          schema:
            type: integer
          required: true
          example: 11698
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRefereeByIdResponse'
  /{version}/{sport}/referees/seasons/{seasonId}:
    get:
      tags:
        - Sport
      summary: By Season ID
      operationId: Sport_refereesBySeasonId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the season you want to retrieve referees from.
          name: seasonId
          in: path
          schema:
            type: integer
          required: true
          example: 19686
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRefereesBySeasonIdResponse'
  /{version}/{sport}/referees/countries/{countryId}:
    get:
      tags:
        - Sport
      summary: By Country ID
      operationId: Sport_refereesByCountryId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the country you want to retrieve referees from.
          name: countryId
          in: path
          schema:
            type: integer
          required: true
          example: 320
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRefereesByCountryIdResponse'
  /{version}/{sport}/referees/search/{name}:
    get:
      tags:
        - Sport
      summary: Search
      operationId: Sport_refereesSearch
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The name you want to search on.
          name: name
          in: path
          schema:
            type: string
          required: true
          example: Munch
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportRefereesSearchResponse'
  /{version}/{sport}/transfers:
    get:
      tags:
        - Sport
      summary: All
      operationId: Sport_transfersAll
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTransfersAllResponse'
  /{version}/{sport}/transfers/latest:
    get:
      tags:
        - Sport
      summary: Last Updated
      operationId: Sport_transfersLatest
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTransfersLatestResponse'
  /{version}/{sport}/transfers/{transferId}:
    get:
      tags:
        - Sport
      summary: By ID
      operationId: Sport_transferById
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - name: transferId
          in: path
          schema:
            type: integer
          required: true
          example: 1
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 02 Jan 2023 15:07:02 GMT
            Server:
              schema:
                type: string
                example: Apache
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            X-RateLimit-Limit:
              schema:
                type: integer
                example: 52000
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: 51998
            Vary:
              schema:
                type: string
                example: Authorization,Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            X-Robots-Tag:
              schema:
                type: string
                example: noindex, nofollow
            Content-Length:
              schema:
                type: integer
                example: 496
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTransferByIdResponse'
  /{version}/{sport}/transfers/between/{startDate}/{endDate}:
    get:
      tags:
        - Sport
      summary: By Date Range
      operationId: Sport_tranfersByDateRange
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The start date you want to retrieve transfers from.
          name: startDate
          in: path
          schema:
            type: string
          required: true
          example: '2021-12-27'
        - description: The end date you want to retrieve transfers from.
          name: endDate
          in: path
          schema:
            type: string
          required: true
          example: '2021-12-30'
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTranfersByDateRangeResponse'
  /{version}/{sport}/transfers/teams/{teamId}:
    get:
      tags:
        - Sport
      summary: By Team ID
      operationId: Sport_transfersByTeamId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the team you want to retrieve transfers from.
          name: teamId
          in: path
          schema:
            type: integer
          required: true
          example: 3736
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTransfersByTeamIdResponse'
  /{version}/{sport}/transfers/players/{playerId}:
    get:
      tags:
        - Sport
      summary: By Player ID
      operationId: Sport_transfersByPlayerId
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
          schema:
            type: string
          required: true
          example: football
        - description: The ID of the player you want to retrieve transfers from.
          name: playerId
          in: path
          schema:
            type: integer
          required: true
          example: 35659846
      responses:
        default:
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportTransfersByPlayerIdResponse'
  /{version}/{sport}/states:
    get:
      tags:
        - Sport
      summary: By Sport
      operationId: Sport_statesBySport
      parameters:
        - description: The version of the API.
          name: version
          in: path
          schema:
            type: string
          required: true
          example: v3
        - description: The sport you want retrieve entities from.
          name: sport
          in: path
[...]
